<!DOCTYPE html>
<html>
<head>
<style>
body{
	padding: 20px;
}

#abc{
	border-style: solid;
}
</style>
</head>
<body background="contactus.jpg" style="text-align:center">
<h1><p>Welcome folks!</p></h1>
<div id="abc">
<h3><p>Here we bring to you the most widely used , userfriendly and popular Job Search website on your fingertips.Fullfilling our motto our efforts , your gain and dreams
JOB PORTAL brings to you an easy access and userfriendly interface for all employers and employees, be it their resumes, or any other personal details, be it company policies or salary negotiations,
JOB PORTAL will serve all your needs. Our huge database , being home to a mllion of users across various fields of recruitment and company interviews will help you find your dream jobs and trustworthy employers
to fullfill company expectations.</p><p>
   So , sign up and continue to see our service at your doorstep .</br>&nbsp;
Our headquaters are located in Bengaluru.Please do contact us on below details.</p>
</div>

<p>Contact details:<i>jobbyportal@gmail.com</i></p></h3>

</body>
</html>

   